<head>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<style>
	h1 {color: red; font-family: 'Lobster Two', cursive; font-size: 100px;}
	p, li {font-family: arial; text-align: left; font-size: 18px; line-height: 25px;}
	a {text-decoration: none;}
	li {list-style-type: none;}
	#trash {color: red; margin: 0 0 0 25px;}
</style>
</head>


<div style="margin: 100px auto 0; text-align: center; ">
	<h1>To Do List</h1>

	<div style="width: 300px; margin: 0 auto;">
		<ul>
			<% @tasks.each do |key, value| %>	<!-- this creates a new li for item each in the array -->
				<li id="task-item" onclick="done()"><%= key %> @ <%=value%> <span id="trash">Delete?<span></li>
			<% end %>

		</ul>
	</div>
</div>



<script>
function done() {
	document.getElementById("task-item").style.textDecoration = "line-through";
};
</script>