<head>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<style>
	h1 {color: red; font-family: 'Lobster Two', cursive; font-size: 100px;}
	p, li {font-family: arial; text-align: left; font-size: 18px; line-height: 25px;}
	a {text-decoration: none;}
	li {list-style-type: none;}
</style>
</head>


<div style="margin: 250px auto 0; text-align: center; ">
	<h1>To Do List</h1>

	<div style="width: 300px; margin: 0 auto;">
		<ul>
			<% @tasks.each do |todo| %>	<!-- this creates a new li for each in the array -->
				<li><a href="http://google.com"><%= todo %></a></li>
			<% end %>

		</ul>
	</div>
</div>
