<head>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<style>
	h1 {color: orange; font-family: 'Lobster Two', cursive;}
	p {font-family: arial;}
</style>
</head>


<h1>My To Do List</h1>
<p>Task 1: <%= @task %>
</p>


<!-- <form action="/adding" method="POST" enctype="multipart/form-data">
	<input type="text" name="task">
	<input name="commit" type="submit" value="Add Task">
</form> -->